<div class="modal" role="dialog" id="bookmarkModal" >

   <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
           <button class="close" ng-click="bookmarkModal.hide()" type="button">x</button>
           <h4 class="modal-title">Create Bookmark</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
                 <ng-include src="'templates/create_bookmark_form.html'"></ng-include>
          </form>
        </div>
      </div>
    </div>

</div>
