<div class="text-align-center" ng-show="bookmarkMessage">
<span class="ubuntu-text">{{bookmarkMessage}}</span>
</div>
<br/>
<div class="form-group" >
<label class="col-sm-2 control-label">Link</label >
<div class="col-sm-10" >
<input type="text" take-focus class="form-control" name="link" ng-model="bookmark.link" required />
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label">Description</label >
<div class="col-sm-10" >
<input type="text" class="form-control" name="description" ng-model="bookmark.description"  />
</div>
</div>

<div class="form-group" >
<label class="col-sm-2 control-label">Tags</label >
<div class="col-sm-10" >
   <div class="tagContainer">
          <div ng-repeat="tag in bookmark.inputTags" class="bookmarkTag">
                 <span class="tagLabel">{{ tag }}</span>
                 <span class="removeTag" ng-click="removeTag(tag);">&times;</span>
          </div>
          <input id="bookmarkTagsInput" class="tag-input-field" type="text" ng-show="showInputTagField"
           placeholder="Tag your bookmark" ng-model="tagText.input" />
   </div>
   <div class="tagNote" >
   <span class="ubuntu-text">Note : At least one tag, Maximum 8 tags </span>
   </div>
</div>

</div>

<div class="col-sm-offset-2 col-sm-10">
   <div class="col-sm-4 tagSuggestionContainer" ng-repeat="t in tags | filter:tagText.input | limitTo:9">
       <div class="tagOuter">
       <span class="suggestedTag" ng-click="selectTag(t);">{{t}}</span>
       </div>
    </div>
</div>

<div>

<span><a ng-click="showCreateTagModal();">Create a new tag</a></span>
<div class="modal-footer">
       <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
       <button type="button"  ng-click="createBookmark(bookmark);"
           class="btn btn-primary">Save Bookmark </button >
     </div>

</div>
