<div class="text-align-center" ng-show="editBookmarkMessage">
<span class="ubuntu-text">{{editBookmarkMessage}}</span>
</div>
<br/>
<div class="form-group" >
<label class="col-sm-2 control-label">Link</label >
<div class="col-sm-10" >
<input type="text" take-focus class="form-control" name="link" ng-model="editBookmark.link" required />
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label">Description</label >
<div class="col-sm-10" >
<input type="text" class="form-control" name="description" ng-model="editBookmark.description"  />
</div>
</div>

<div class="form-group" >
<label class="col-sm-2 control-label">Tags</label >
<div class="col-sm-10" >
   <div class="tagContainer">
          <div ng-repeat="tag in editBookmark.inputTags" class="bookmarkTag">
                 <span class="tagLabel">{{ tag }}</span>
                 <span class="removeTag" ng-click="removeEditTag(tag);">&times;</span>
          </div>
          <input id="editBookmarkTagsInput" class="tag-input-field" type="text" ng-show="showEditTagField"
                 placeholder="Tag your bookmark" ng-model="editTagText.input" />
   </div>
   <div class="tagNote">
   <span class="ubuntu-text">Note : At least one tag, Maximum 8 tags </span>
   </div>
</div>
</div>

<div class="col-sm-offset-2 col-sm-10">
    <div class="col-sm-4 tagSuggestionContainer" ng-repeat="t in editTags | filter:editTagText.input | limitTo:9">
       <div class="tagOuter">
         <span class="suggestedTag" ng-click="selectEditTag(t);">{{t}}</span>
       </div>
    </div>
</div>


<div>

<span><a ng-click="showCreateEditTagModal();">Create a new tag</a></span>
<div class="modal-footer">
       <button type="button" class="btn btn-default" ng-click="cancelUpdate();">Cancel</button>
       <button type="button"  ng-click="updateBookmark(editBookmark);"
           class="btn btn-primary">Update Bookmark </button >
     </div>

</div>
