<div class="container">
<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #d34615;border-color: #d34615;">
<div class="container">
  <div class="navbar-header" >
    <a class="navbar-brand"
       href="/" >Linkository
    </a >
  </div >
</div>
</nav>

<div style="padding-top: 100px; ">
<!--<button type="button" class="btn btn-primary" ng-click="showCreateBookmarkModal();">Create</button>--->


  <div class="row">
  <div class="col-md-12">
    <!--<form class="form-inline " >
						<span class="fa fa-search" ></span >
						<div class="form-group" >
							<input type="text" class="form-control"  id="name"   ng-model="search"
							       placeholder="Search name..."
									/>
						</div >

						<span class="fa fa-sort" ></span >

						<div class="form-group" >
							<select class="form-control"
							        ng-model="order" >
								<option value="name" >Name (ASC)</option >
								<option value="-name" >Name (DEC)</option >
								<option value="email" >Email (ASC)</option >
								<option value="-email" >Email (DEC)</option >
							</select >
						</div >

						<button type="button" pull-right class="btn btn-primary" ng-click="showCreateBookmarkModal();">Create</button>

					</form >-->
    <table class="table  table-hover table-striped table-bordered" style="table-layout: fixed; word-wrap: break-word;">

      <thead >
        <tr >
          <th style="width:10%">Open</th>
          <th >Description</th>
          <th >Link</th>
          <th >Tags</th>
          <th >Time</th>
          <th style="width:10%">Edit / Delete</th>
        </tr>
      </thead>

       <tbody>
         <tr>
           <th><input class="form-control" type="text"/></th>
           <th><input class="form-control" type="text"/></th>
           <th><input class="form-control" type="text"/></th>
           <th><input class="form-control" type="text"/></th>
           <th><input class="form-control" type="text"/></th>
           <th><input class="form-control" type="text"/></th>
         </tr>
           <tr class="active " ng-repeat="bm in bookmarks">
             <td><a target="_blank" href="{{bm.link}}">Bookmark</a></td>
             <td>{{bm.description}}</td>
             <td>{{bm.link}}</td>
             <td>{{bm.tags}}</td>
             <td>{{bm.created_at | date:"dd-MM-yyyy' ,' hh:mm:ss a"}} </td>
             <td>
               <span ui-sref="edit({id:bm._id})" style="cursor:pointer;font-size:20px;margin-left:10%" class="icon-edit"></span>
               <span ng-click="showDeleteBookmarkModal(bm)" style="cursor:pointer;font-size:20px;margin-left:20%" class="icon-trash"></span>
             </td>
           </tr>
       </tbody>

    </table>
  </div>
</div>
</div>
</div>
